body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
}

body {
  background-image: url("https://external-preview.redd.it/wU4DwDzO0NyLKg-OINGsr0jz04fmY1McTBesZMeohME.png?width=1080&crop=smart&format=pjpg&auto=webp&s=4dfb880227443fd287f36727c8030ccb29638935");
}


audio {
  flex: auto;
  display: flex;
  align-content: center;


}